.image {
  width: 187px;
  height: 59.17px;
}

.NavBar {
  background-color: #fff;
  box-shadow: 0px 0px 3px 0px #828282;
}

.Toggle {
  background-color: #4f3c8b;
}

.Toggle  {
  background-color: #6c51bf;
}
